.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: fit-content;
    padding: 1rem 0 0;
}

.navigation {
    margin-left: 7rem;
    display: flex;

}

.hero-txt a {
    color: white;
    font-style: italic;
    font-size: 0.7rem;
    position: relative;
    bottom: 0.5rem;
}

.text-plus {
    font-weight: bolder;
}

#search-area {
    width: 40rem;
    height: 2rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    padding-left: 1rem;
}

::placeholder {
    color: rgba(43, 62, 64, 0.79);
}

.login-btn a {
    color: #2874f0;
    text-decoration: none;
    padding: 2.5rem;
    font-weight: 600;
}

.login-btn {
    width: fit-content;
    background-color: white;
    margin-left: 3.5rem;
    height: 1.7rem;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin: 1.4rem;
}

.grocery {
    width: fit-content;
}

.menu-items {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 1rem 6rem;
}

.img-slider {
    background-color: white;
}

.slides-row {
    display: flex;
    margin: 0 0rem;
    animation: slides 15s linear infinite;
    height: 40vh;
    width: 100vw;
}

.slide {
    min-width: 100%;
    padding-bottom: 1rem;
}

.previous {
    position: relative;
    top: 8.5rem;
    left: 0rem;
    padding: 1.8rem 1rem;
    background-color: white;
    z-index: 1;
}

.next {
    position: relative;
    left: 94.4vw;
    top: 8.5rem;
    background-color: white;
    padding: 1.8rem 1rem;
    z-index: 1;
}

/* @keyframes slides {
    0% {
        background-image: url();
    }

    25% {
        transform: translateX(-100vw);
    }

    50% {
        transform: translateX(-200vw);
    }

    70% {
        transform: translateX(-100vw);
    }
} */
@keyframes slides {
    0% {
        background-image: url("./big-slide img/plane30b0e892420793da.webp");
        background-repeat: no-repeat;

    }

    25% {
        background-image: url("./big-slide img/fridge.webp");
        background-repeat: no-repeat;
    }

    50% {
        background-image: url("./big-slide img/phone.webp");
        background-repeat: no-repeat;
    }

    75% {
        background-image: url("./big-slide img/plane30b0e892420793da.webp");
        background-repeat: no-repeat;
    }

    100% {
        background-image: url("./big-slide img/phone.webp");
        background-repeat: no-repeat;
    }
}